{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='base.js') }}"></script>
{% endblock %}
{% block navigation%}

{% endblock %}
{% block content %}
<div class="normal-box main-content">
{% if current_user.is_authenticated %}
<h1>logged in 😎</h1>
<form>
    <label>Character name</label>
    <input id="name" type="Text" />
    <input type="submit" value="Add" />
</form>
<p id="dude"><p>
<div id="pixibox"><div>
{% else %}
<h1>not logged in 😥</h1>
{% endif %}
</div>
{% endblock %}