{% extends "layout.html" %}
{% block content %}
<title>Log In</title>
{% if current_user.is_authenticated %}
<p>You are logged in as {{ current_user.username }}</p>
<a href="/logout">Log out</a>
{% else %}
<div class="normal-box login">
<form action="/log" method="POST">
Username: <br>
<input type="text" name="username">
<br>
Password: <br>
<input type="password" name="password">
<br><br>
<input type="submit" id="submitLogin" value="Log In">
</form>
<br>
<a href="/create">Create Account</a>
<br>
<div>
{% endif %}
{% if error %}
{{ error }}
{% endif %}
{% endblock %}